[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
[submodule "lib/sdl3"]
	path = lib/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/sdl_ttf"]
	path = lib/sdl_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
